:root {--swiper-theme-color: #fff;}

* {padding: 0; margin: 0;}

.slide {height: 100vh;}

.slide .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
}

.slide .swiper-slide.bg1 {background: url('../image/content-slide-01.jpg') no-repeat center / cover;}
.slide .swiper-slide.bg2 {background: url('../image/content-slide-02.jpg') no-repeat center / cover; color: #fff;}
.slide .swiper-slide.bg3 {background: url('../image/content-slide-03.jpg') no-repeat center / cover;}

.slide .swiper-slide .text-area {margin-top: -160px;}
.slide .swiper-slide span {opacity: 0; line-height: 100%; margin-bottom: 20px; display: block; font-size: 20px; color: #fff;}
.slide .swiper-slide p {opacity: 0; line-height: 100%; margin-bottom: 40px; font-size: 60px; font-weight: bold; color: #fff;}
.slide .swiper-slide div {opacity: 0; line-height: 28px; font-size: 18px; color: #fff;}
.slide .swiper-slide.swiper-slide-active span {animation: text 1s 0.3s both;}
.slide .swiper-slide.swiper-slide-active p {animation: text 1s 0.6s both;}
.slide .swiper-slide.swiper-slide-active div {animation: text 1s 0.9s both;}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.swiper-button-next {
    right: 60px;
}

.swiper-button-prev {
    left: 60px;
}

.swiper-button-next, .swiper-button-prev {
    /* background: none; */
    font-size: 52px;
    width: 28px;
    height: 52px;
}
